body{
    background-image: linear-gradient(#dd1818, black)
}

.header{
    margin: auto; 
    text-align: center; 
    background-color: black; 
    padding: 2px; 
    outline-color: white;
}

h1{
    font-family: 'Times New Roman', Times, serif; 
    font-size: 80px; 
    color: white;
}
.logo{
    width: 14%;
     text-align: left; 
    position: left; 
    outline-color: white; 
}
h4{
    color: white;
}